<?xml version="1.0" encoding="utf-8"?>
<manifest package="no.trainer.personal.test" android:versionCode="1" android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24" />
  <application android:allowBackup="true" android:label="@string/app_name" android:hardwareAccelerated="true">
    <receiver android:name=".NextWorkoutReceiver" />
  </application>
</manifest>